# =========================================================
# APPLICATION
# =========================================================

APP_HOST_PORT=8080


# =========================================================
# POSTGRESQL
# =========================================================

POSTGRES_DB=order_tracker
POSTGRES_USER=order_tracker
POSTGRES_PASSWORD=order_tracker_dev

# Host port only.
# PostgreSQL inside Docker still listens on 5432.
POSTGRES_HOST_PORT=55432


# =========================================================
# JWT
# =========================================================

JWT_SECRET=
JWT_EXPIRATION=3600000


# =========================================================
# MAILPIT
# =========================================================

MAILPIT_SMTP_HOST_PORT=1025
MAILPIT_UI_HOST_PORT=8025